#loading {
    text-align: center;
    margin-top: 150px;
}


.content{
    margin-top: 20px;
   display: flex;
   justify-content: center;
  
}

.content input[type="search"] {
    border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border: 1px solid black;
	outline: none;
	color: rgb(8, 0, 0);
	background: white;
    width:500px;
    height:50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px; 
}

.para {
    position: absolute;
    top: 20px; left: 20px;
    font-size: 14px;
}

.store{
    position: absolute;
    top: 20px; left: 80px;
    font-size: 14px;
}


.search{
    background-color: blue;
    border: none;
    color: black;
    padding: 15px 16px;
    position: absolute;
    top: 20px; right: 20px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.virus{
    position: absolute;
    bottom: 20px;
    left: 20px;
}